@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
    padding: 10px;
}

.projects-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    padding: 10px;
}

.app{
    background-color: teal;
    height: 100vh;
}