@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.ui.header.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
}

.ui.header.projects-title{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

.ui.header.title-i{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
    padding-left: 40px;
}

.ui.header.title-t{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
    padding-left: 15px;
}

.ui.header.title-e{
    font-family: 'Permanent Marker', cursive;
    font-size: 125px;
    padding-left: 5px;
}